body {
    overflow: hidden;
    background: #0d0d0d;
    color: #e6e6e6;
    font-family: "Syne Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.wrapper {
    width: 90%;
    margin: 10px auto 0;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

a {
    display: block;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(24, 24, 24);
    /* to change the font type in a */
}

.menu1 a {
    display: block;
    font-size: 20px;
    color: gray;
}

.hamburger-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu .open-menu {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;

    padding: 0;
    margin: 0;
    cursor: pointer;
}

.hamburger-menu .fa-bars {
    cursor: pointer;
    font-size: 1.5em;
    color: white;
}

.menu-deployed {
    display: flex !important;
    /* put improtant for the browser. testing...*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* view height */
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 11000;
    padding-top: 50px;
}

.menu1 {
    display: none;
    /* you don't display */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-family: "Syne Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.menu1 a:hover {
    color: rgb(136, 34, 34);

}

.menu1 .sub-links {
    display: none;
    flex-direction: column;
    gap: 6px;

}

.menu1 .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu1 .has-sub:hover .sub-links {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.menu1 .sub-links a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
}

.menu1 .sub-links a:hover {
    color: rgb(136, 34, 34);
}

.close-menu {
    position: absolute !important;
    top: 20px;
    right: 20px;
    font-size: 2em;
    color: grey;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.close-menu {
    display: block;
}

.link-grid {
    margin-top: 250px;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 400px);
    gap: 35px;
    justify-content: center;
    grid-auto-rows: 150px;

}

.fake-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #555;
    color: #d9d9d9;
    text-decoration: none;
    font-size: 1.1rem;
    letter-spacing: 1px;
    transition: 0.2s;
    position: relative;
    border-radius: 12px;
}

.fake-link:hover {
    border-color: #fff;
    transform: translateY(-3px);
}

.fake-link:hover::after {
    content: "↺";
    position: absolute;
    right: 10px;
    opacity: 0.7;
}

.credit {
    margin: 0 auto;
    text-align: center;
    font-weight: 200;
    color: white;
    font-family: "Syne Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

@media (max-width:780px) {

    .link-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        grid-auto-rows: 85px;
    }

    .fake-link {
        font-size: 0.9rem;
        border-radius: 16px;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2em;
        color: grey;
    }

    button {
        border: width 0px;
        background-color: white;
    }

    .hamburger-menu {
        display: flex;
        grid-column: auto;
    }

    .menu-deployed {
        display: flex !important;
        /* put improtant for the browser. testing...*/
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        /* view height */
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        z-index: 11000;
        padding-top: 50px;
    }

    .menu1 {
        display: none;
        /* you don't display */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .menu1 a {
        color: gray;
    }

    .menu1 a:hover {
        color: rgb(229, 227, 227);
    }

    .wrapper {
        position: relative;
        width: 90%;
        margin: 0 auto;
    }

    footer {
        margin-top: 40px;
        font-size: 12px;
    }

}