body {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "XOPQ" 96,
        "XTRA" 468,
        "YOPQ" 79,
        "YTAS" 750,
        "YTDE" -203,
        "YTFI" 738,
        "YTLC" 514,
        "YTUC" 712;
    font-family: "Syne Mono", monospace;
    font-weight: 400;
    font-style: normal;
    background-color: #000000;
    margin: 0;
}

.wrapper {
    width: 90%;
    margin: 10px auto 0;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

a {
    display: block;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(24, 24, 24);
    /* to change the font type in a */
}

.menu1 a {
    display: block;
    font-size: 20px;
    color: gray;
}


.hamburger-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu .open-menu {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;

    padding: 0;
    margin: 0;
    cursor: pointer;
}

.hamburger-menu .fa-bars {
    cursor: pointer;
    font-size: 1.5em;
    color: white;
}

.menu-deployed {
    display: flex !important;
    /* put improtant for the browser. testing...*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* view height */
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 11000;
    padding-top: 50px;
}

.menu1 {
    display: none;
    /* you don't display */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.menu1 a:hover {
    color: rgb(136, 34, 34);

}

.menu1 .sub-links {
    display: none;
    flex-direction: column;
    gap: 6px;

}

.menu1 .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu1 .has-sub:hover .sub-links {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.menu1 .sub-links a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
}

.menu1 .sub-links a:hover {
    color: rgb(136, 34, 34);
}

.close-menu {
    position: absolute !important;
    top: 20px;
    right: 20px;
    font-size: 2em;
    color: grey;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.close-menu {
    display: block;
}

.book {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: minmax(80px, 1fr);
    width: 90vw;
    height: 90vh;
    gap: 0;
    position: relative;
    overflow: hidden;
}

.book figure {
    position: relative;
    margin: 0;
}

.book img {
    display: block;
    width: auto;
    height: 100%;
    object-fit: contain;
}

.im1 {
    grid-column: 1 / 6;
    grid-row: 1 / 8;
    z-index: 2;
}

.im2 {
    grid-column: 8/ 10;
    grid-row: 1 / 8;
    z-index: 2;
}

.im3 {
    grid-column: 4 / 7;
    grid-row: 3 / 8;
    z-index: 4;
}


.im4 {
    grid-column: 1 / 5;
    grid-row: 3 / 8;
    z-index: 2;
}


.im7 {
    grid-column: 7/ 10;
    grid-row: 2 / 8;
    z-index: 5;
}


.im6 {
    grid-column: 3 / 7;
    grid-row: 2/8;
    z-index: 3;
}


.im5 {
    grid-column: 9/ 11;
    grid-row: 2 / 7;
    z-index: 3;
}

.im8 {
    grid-column: 5 / 9;
    grid-row: 2/ 8;
    z-index: 4;
}

.im9 {
    grid-column: 5/ 11;
    grid-row: 1 / 8;
    z-index: 1;
}


.hover-text {
    /* display: none; we can make the text display slowly */
    opacity: 0;
    /* opacity 0 have the same feature as display none. */
    position: absolute;
    bottom: 30px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 8px;
    border-radius: 10px;
    color: white;
    transition: opacity 0.3s ease;
    /* ease make the movement smooth */
}

.book figure:hover .hover-text {
    display: block;
    opacity: 1;
}

.book figure img {
    transition: all 0.3s ease;
    /* transition: transform 0.3s ease, opacity 0.3s ease; */
}

.book figure:hover img {
    transform: scale(1);
    opacity: 0.9;
    filter: blur(10px);
}

img {

    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate (-50%, -50%);
}

.credit {
    margin: 0 auto;
    text-align: center;
    font-weight: 200;
    color: white;
    font-family: "Syne Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

@media (max-width:780px) {

    body {
        overflow-x: hidden;
        overflow-y: auto;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 40px;
        right: 20px;
        font-size: 2em;
        color: grey;
    }

    button {
        border: width 0px;
    }

    .hamburger-menu {
        display: flex;
        top: 16px;
        right: 16px;
        z-index: 2000;
        background: none;
        border: none;
    }

    .menu-deployed {
        display: flex !important;
        /* put improtant for the browser. testing...*/
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        /* view height */
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        z-index: 11000;
        padding-top: 50px;
    }

    .menu1 {
        display: none;
        /* you don't display */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .menu1 a {
        color: gray;
    }

    .menu1 a:hover {
        color: rgb(229, 227, 227);
    }

    footer {
        margin-top: 10px;
        font-size: 12px;
        color: white;
    }

    .book {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 0;
        grid-auto-flow: row dense;
        width: 100%;
        height: auto;
        overflow: visible;
    }

    .book img {
        position: static;
        width: 100%;
        height: auto;
        object-fit: contain;
        display: block;
    }

    .book [class^="im"] {
        grid-column: auto !important;
        grid-row: auto !important;
        width: 100%;
        height: auto;
    }

}